parameters:
    level: 1
    bootstrapFiles:
        - %currentWorkingDirectory%/config/phpstan-bootstrap.php
    fileExtensions:
        - php
    paths:
        - src
        - templates
        - tests
        - plugins/Admin/src
        - plugins/Admin/templates
        - plugins/Admin/tests
        - plugins/Network/src
        - plugins/Network/templates
        - plugins/Network/tests
    ignoreErrors:
        - message: '#Variable \$.* might not be defined#'
          path: %currentWorkingDirectory%/templates
        - message: '#Variable \$.* might not be defined#'
          path: %currentWorkingDirectory%/plugins/Admin/templates
        - message: '#Variable \$.* might not be defined#'
          path: %currentWorkingDirectory%/plugins/Network/templates
rules:
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
