parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 7
    bootstrapFiles:
        - config/bootstrap.php
    fileExtensions:
        - php
    paths:
        - src
        - templates
        - tests
        - config/Migrations
        - plugins/Admin/src
        - plugins/Admin/templates
        - plugins/Admin/tests
        - plugins/Network/src
        - plugins/Network/templates
        - plugins/Network/tests
    ignoreErrors:    
        - message: '#Access to an undefined property .*#'
        - message: '#Cannot access property .*#'
        - message: '#Variable \$.* might not be defined#'
          paths:
            - templates
            - plugins/Admin/templates
            - plugins/Network/templates
        - message: '#Call to an undefined method Authorization\\IdentityInterface::*.#'
        - message: '#Call to an undefined method Authentication\\IdentityInterface::*.#'
        - message: '#Method .* has parameter .* with no type specified.#'
          paths:
            - src/Services/HelloCash/HelloCashService.php
            - plugins/Admin/src/Controller/HelloCashController.php
        # START LEVEL 7 ERRORS
        - identifier: argument.type
        - identifier: return.type
        - identifier: binaryOp.invalid
        - identifier: method.notFound
        - identifier: offsetAccess.nonOffsetAccessible
        - identifier: offsetAccess.invalidOffset
        - identifier: method.nonObject
        - identifier: offsetAccess.notFound
        - identifier: foreach.nonIterable
        - identifier: assign.propertyType
        - identifier: array.invalidKey
        # END LEVEL 7 ERRORS

rules:
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
