parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 6
    bootstrapFiles:
        - config/bootstrap.php
    fileExtensions:
        - php
    paths:
        - src
        - templates
        - tests
        - config/Migrations
        - plugins/Admin/src
        - plugins/Admin/templates
        - plugins/Admin/tests
        - plugins/Network/src
        - plugins/Network/templates
        - plugins/Network/tests
    ignoreErrors:    
        - message: '#Access to an undefined property .*#'
        - message: '#Cannot access property .*#'
        - message: '#Variable \$.* might not be defined#'
          paths:
            - templates
            - plugins/Admin/templates
            - plugins/Network/templates
        - message: '#Call to an undefined method Authorization\\IdentityInterface::*.#'
        - message: '#Call to an undefined method Authentication\\IdentityInterface::*.#'
        - message: '#Method .* has parameter .* with no type specified.#'
          paths:
            - src/Services/HelloCash/HelloCashService.php
            - plugins/Admin/src/Controller/HelloCashController.php
        - message: '#will always evaluate to true#'
        - message: '#is not a file or it does not exist#'
        - identifier: 'cake.entity.arrayAccess'
        - identifier: 'cake.debug.debugFuncCallUse'
        - identifier: 'cake.debug.debugStaticCallUse'

rules:
    - Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
