<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
    bootstrap="./tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
   
    <testsuites>
        <testsuite name="foodcoopshop">
            <directory>./tests/TestCase/</directory>
            <directory>./plugins/Admin/tests/TestCase/</directory>
            <directory>./plugins/Network/tests/TestCase/</directory>
        </testsuite>
    </testsuites>    

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <directory suffix=".php">./plugins/*/src/</directory>
        </whitelist>
    </filter>
</phpunit>
