<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
    bootstrap="./tests/bootstrap.php"
    >
  <coverage/>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
    <server name="REQUEST_URI" value=""/>
  </php>
  <testsuites>
    <testsuite name="foodcoopshop">
      <directory>./tests/TestCase/</directory>
      <directory>./plugins/Admin/tests/TestCase/</directory>
      <directory>./plugins/Network/tests/TestCase/</directory>
    </testsuite>
  </testsuites>
</phpunit>
