/* courgette-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/courgette-v19-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.font-courgette {
    font-family: 'Courgette', cursive;
}