name: FoodCoopShop CI

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  
jobs:
  ci:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php-version: ['7.4']
        experimental: [false]
        include:
         - php-version: '8.0'
           experimental: true  
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 8888:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: foodcoopshop_test
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    name: PHP ${{ matrix.php-version }}
             
    steps:
    
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
            
      - uses: actions/checkout@v2
                    
      - name: Setup DB
        run: |
          sudo /etc/init.d/mysql start
          mysql --version
          mysql -h 127.0.0.1 --port 8888 -u root -ppassword foodcoopshop_test < ./config/sql/_installation/clean-db-structure.sql
          mysql -h 127.0.0.1 --port 8888 -u root -ppassword foodcoopshop_test < ./tests/config/sql/test-db-data.sql
          
      - name: Install vendors 
        run: |
          composer install --optimize-autoloader  --no-progress
          cp ./.github/workflows/*.php ./config/
          npm --prefix ./webroot install ./webroot
          
      - name: PHPStan
        if: always()
        run: vendor/bin/phpstan analyze -c phpstan.neon --no-interaction --no-progress
        
      - name: ESLint
        if: always()
        run: bash devtools/eslint.sh
        
      - name: PHPUnit
        if: always()
        run: vendor/bin/phpunit
