name: FoodCoopShop CI

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.css'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.css'
  
jobs:
  ci:
    runs-on: ubuntu-20.04
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php-version: ['8.0']
        experimental: [false]
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 8888:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: foodcoopshop_test
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    name: PHP ${{ matrix.php-version }}
             
    steps:
    
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
        env:
          update: true #forces minor release update
          
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '16'
                      
      - uses: actions/checkout@v2
      
      - name: Apply secrets
        run: |
          sed -i 's/HELLO_CASH_USERNAME/${{ secrets.HELLO_CASH_USERNAME }}/' ./.github/workflows/custom_config.php
          sed -i 's/HELLO_CASH_PASSWORD/${{ secrets.HELLO_CASH_PASSWORD }}/' ./.github/workflows/custom_config.php
          sed -i 's/HELLO_CASH_CASHIER_ID/${{ secrets.HELLO_CASH_CASHIER_ID }}/' ./.github/workflows/custom_config.php
   
      - name: Setup DB
        run: |
          mysql --version
          mysql -h 127.0.0.1 --port 8888 -u root -ppassword foodcoopshop_test < ./config/sql/_installation/clean-db-structure.sql
          mysql -h 127.0.0.1 --port 8888 -u root -ppassword foodcoopshop_test < ./tests/config/sql/test-db-data.sql
          
      - name: Install vendors 
        run: |
          composer install --optimize-autoloader  --no-progress
          cp ./.github/workflows/*.php ./config/
          npm --prefix ./webroot install ./webroot
          
      - name: PHPStan
        if: always()
        run: vendor/bin/phpstan analyze -c phpstan.neon --no-interaction --no-progress
        
      - name: ESLint
        if: always()
        run: |
            npm install -g eslint
            bash devtools/eslint.sh
        
      - name: PHPUnit
        if: always()
        run: vendor/bin/phpunit
